.map {
    position: relative;
}

* {
    font-family: "Merriweather";
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: none;
    color: black;
}

body {
    text-align: center;
    margin: 0;
}

.map-container {
    position: relative;
}

.button-style {
    background-color: rgb(253, 253, 253);
    color: rgb(0, 0, 0);
    border: none;
    padding: 6px;
    margin: 4px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid black;
}

.button-style:hover,
.button-close:hover,
.button-submit:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.button-close {
    background-color: rgb(253, 253, 253);
    border: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
    right: 0px;
    background-color: rgba(255, 0, 0, 0.671);
    border: 1px solid black;

}

.button-submit {
    background-color: rgb(0, 255, 128);
    border-radius: 4px;
    padding: 5px;
    margin: 10px;
}

.input {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    padding: 7px;
    margin: 10px;
}

.input-text {
    width: 112px;
}

.input-date {
    width: 112px;
}