<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/tables.css" />
<table>
    <h1>School_Enrollments</h1>
      <thead>
        <tr>
          <th>Id</th>
          <th>Student Id</th>
          <th>Course Id</th>
        </tr>
      </thead>
      <tbody>
        {% for item in enrollments %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.studentid.id }}</td>
            <td>{{ item.courseid.id }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    
   
   
    
    