<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/tables.css" />
<table>
    <h1>Supermarket_Functions </h1>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Workload</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for item in functions %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.workload }}</td>
            <td>{{ item.location }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    