<link href="https://fonts.googleapis.com/css?family=Merriweather:400,400i,700,700i&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/css/tables.css" />
<table>
  <h1>Supermarket_Inventory</h1>
    <thead>
      <tr>
        <th>Id</th>
        <th>Item</th>
        <th>Quantity</th>
        <th>Entry Date</th>
        <th>Expiration Date</th>
        <th>Kosher</th>
      </tr>
    </thead>
    <tbody>
      {% for item in inventory %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.item }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.entry_date }}</td>
          <td>{{ item.exp_date }}</td>
          <td>{{ item.kosher }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  